---
import SearchPlaceholder from "./header/SearchPlaceholder.astro";
import ThemeToggle from "./header/ThemeToggle.astro";
import LocaleMenu from "./header/LocaleMenu.astro";
import { getUiText } from "../lib/ui-text";
import type { SiteLocale } from "../lib/i18n";

type Props = {
  locale: SiteLocale;
  contentLocale?: SiteLocale;
  isFallback?: boolean;
  currentPath: string;
};

const { locale, contentLocale = locale, isFallback = false, currentPath } = Astro.props as Props;
const uiText = getUiText(locale);
---

<div class="site-header-tools" role="group" aria-label={uiText.header.toolsLabel} data-site-header-tools>
  <SearchPlaceholder locale={locale} />
  <ThemeToggle locale={locale} />
  <LocaleMenu locale={locale} contentLocale={contentLocale} isFallback={isFallback} currentPath={currentPath} />
</div>
